@import 'reset';
@import 'theme';

.centerItems {
  display: flex;
  justify-content: center;
}

.shifterContainer {
  display: grid;
  grid-template-columns: 100vw;
  grid-template-rows: auto 48vh 48vh;
  grid-template-areas:
    'menu'
    'contentA'
    'contentB';
}

.menu {
  grid-area: menu;
  display: flex;
  flex-direction: row;
  background-color: $menuColor;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
}

.contentA {
  grid-area: contentA;
  background-color: $contentAColor;
}

.contentB {
  grid-area: contentB;
  background-color: $contentBColor;
}

// Small devices
@media (min-width: $smallBreakpoint) {
}

// Medium devices
@media (min-width: $mediumBreakpoint) {
  .shifterContainer {
    grid-template-columns: 100vw;
    grid-template-rows: 20vh 40vh 40vh;
    grid-template-areas:
      'menu'
      'contentA'
      'contentB';
  }
  .menu {
    justify-content: space-around;
    align-items: center;
  }
}

// Large devices
@media (min-width: $largeBreakpoint) {
  .shifterContainer {
    grid-template-columns: 14em 34em;
    grid-template-rows: 50vh 50vh;
    grid-template-areas:
      'menu contentA'
      'menu contentB';
  }
  .menu {
    flex-direction: column;
    align-items: flex-start;
  }
}

// Extra large devices
@media (min-width: $extraLargeBreakpoint) {
  .shifterContainer {
    grid-template-columns: 15em 55em;
  }
}
